{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ object }} - {% trans "Products" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

{{ object.description|linebreaks }}

{% if object.cmsproduct %}
{% load feincms_tags %}
{% feincms_render_region object.cmsproduct "main" request %}
{% endif %}

<div class="prices">
	
	product in sale: {{ object.in_sale }}<br/>
	
	{% for currency, staggered_price in object.get_prices %}
	    {% if staggered_price.sale %}
            {% if staggered_price.normal %}<span style="text-decoration: line-through;">{{ staggered_price.normal }}</span>{% endif %}
            <strong>{{ staggered_price.sale }}</strong>
        {% else %}
            <strong>{{ staggered_price.normal }}</strong>
        {% endif %}
		{% if staggered_price.stagger > 1 %}
			<i>({% trans "If you buy more than " %} {{ staggered_price.stagger }})</i>
		{% endif %}
		<br/>
	{% endfor %}
	
	{% comment %}
    {% for currency, prices in object.get_prices %}
        {% if prices.sale %}
            {% if prices.normal %}<span style="text-decoration: line-through;">{{ prices.normal }}</span>{% endif %}
            <strong>{{ prices.sale }}</strong>
        {% else %}
            <strong>{{ prices.normal }}</strong>
        {% endif %}
		{% if prices.stagger > 1 %}
			<i>({% trans "If you buy more than " %} {{ prices.stagger }})</i>
		{% endif %}
		<br/>
    {% endfor %}
	{% endcomment %}
</div>

<form method="post" action=".">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="{% trans "Add to cart" %}" />
</form>
{% endblock %}
