{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ object }} - {% trans "Products" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

{% trans "by" %}: 
{% if object.producer %}
	{{ object.producer}}
{% else %}
	({% trans "noname/unknown" %})
{% endif%}
<br/>

{{ object.description|linebreaks }}

{% if object.cmsproduct %}
{% load feincms_tags %}
{% feincms_render_region object.cmsproduct "main" request %}
{% endif %}

{% if object.main_image %}
<img src="{{ MEDIA_URL }}{{ object.main_image }}" title="{{ MEDIA_URL }}{{ object.main_image }}" alt="{{ MEDIA_URL }}{{ object.main_image }}" /><br/>
<br/>
{% endif %}

<div class="prices">
	{% for currency, staggered_price in object.get_prices %}
	    {% if staggered_price.sale %}
            {% if staggered_price.normal %}<span style="text-decoration: line-through;">{{ staggered_price.normal }}</span>{% endif %}
            <strong>{{ staggered_price.sale }}</strong>
        {% else %}
            <strong>{{ staggered_price.normal }}</strong>
        {% endif %}
		{% if staggered_price.stagger > 1 %}
			<i>({% trans "If you buy at least " %} {{ staggered_price.stagger }})</i>
		{% endif %}
		<br/>
	{% endfor %}
</div>

<form method="post" action=".">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="{% trans "Add to cart" %}" />
</form>
{% endblock %}
