{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Products by Producer" %} - {{ block.super }}{% endblock %}

{% block content %}
<div id="breadcrumbs">
	{% trans "Producer" %} &gt; {{ selectedproducer.name }}
</div>

<div id="producerlogo">
	<img src="{{ MEDIA_URL }}{{ selectedproducer.main_image }}" alt="{{ selectedproducer }}" title="{{ selectedproducer }}" />
</div>

<h1>{% trans "Products by Producer" %} {{ selectedproducer.name }}</h1>

<div id="sidebar_producers_titel">
	{% trans "Producers" %}<br/>
</div>
<div id="sidebar_producers">
	{% for producer in producers %}
		<a href="{{ producer.slug }}">{{ producer }}</a><br/>
	{% endfor %}
</div>

<div id="sidebar_categories_titel">
	{% trans "Categories" %}<br/>
</div>
<div id="sidebar_categories">
	{% for category in categories %}
		<a href="{{ category.slug }}">{{ category }}</a><br/>
	{% endfor %}
</div>

<div id="mainpaine_producers_titel">
	{% trans "Products of producer" %}<br/>
</div>
<div id="mainpane_producers">
	{% for product_of_producer in products_of_producer %}
		<a href="{{ product_of_producer.slug }}"><img src="{{ MEDIA_URL }}{{ product_of_producer.main_image }}" alt="{{ product_of_producer }}" title="{{ product_of_producer }}" /></a><br/>
	{% endfor %}
</div>

{% include "_pagination.html" %}
{% endblock %}
